<div *ngIf="apps$ | async as apps else noData">
    <h1>
        Current apps
    </h1>
    <div class="row" *ngFor="let client of clients; let iClient = index">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <span *ngIf="client.logo_uri !== ''">
                        <img src="{{client.logo_uri}}" style="max-width: 50px;float: left;" />
                    </span>
                    <h4 class="card-title">
                        <a href="{{client.client_uri}}" target="_blank">
                            {{client.client_name}}
                        </a>
                    </h4>
                    <p>
                        Owned by {{client.owner}}
                    </p>
                    <a *ngIf="client.policy_uri!==''" href="{{client.policy_uri}}"
                        target="_blank">Policy</a>&nbsp;/&nbsp;
                    <a *ngIf="client.tos_uri!==''" href="{{client.tos_uri}}" target="_blank">Terms of
                        Service</a>&nbsp;/&nbsp;
                    <a *ngIf="client.contacts!==''" href="mailto:{{client.contacts[0]}}" target="_blank">Contact</a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div *ngIf="client.requested_scope !== undefined"
                                style="border: 1px #AAA solid; border-radius: 6px; padding: 10px;max-width:200px;margin:10px auto">
                                <div *ngFor="let scope of client.requested_scope">
                                    <input type="checkbox" id={{scope}} value={{scope.id}} name="grant_scope"
                                        checked="checked" disabled="true">
                                    <label for="{{scope.name}}" style="padding-left:5px">{{scope.name}}</label>
                                    <span class="description">
                                        <i class="nc-icon nc-alert-circle-i tooltipinfo">
                                            <span class="tooltipinfotext">{{scope.desc}}</span>
                                        </i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <p>
                                Here you can revoke your access consent to <b>{{client.client_name}}</b>. This will not
                                impact your
                                Data-Centric Design data. However, functionalities of {{client.client_name}} might not
                                function
                                properperly where your data is needed.
                            </p>
                            <button (click)="revoke(client.client_id)" class="btn btn-danger">Revoke</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #noData>Loading apps...</ng-template>