<div class="wrapper">
    <div class="main-panel" style="width: 100%;">
        <div class="content" style="min-height:calc(100vh - 165px);;">
            <form (ngSubmit)="postSignIn()" #signInForm="ngForm" *ngIf="auth$ | async as data else noData">
                <div class="card card-stats" style="max-width: 500px;margin:auto">
                    <div class="card-header" style="text-align:center;">
                        <span *ngIf="data.client.client_id!='clients:profile-ui' && data.client.logo_uri !== ''">
                            <img src="{{data.client.logo_uri}}" style="max-width: 150px;" />
                            <i class="nc-icon nc-simple-add"></i>
                        </span>
                        <img src="./assets/img/dcd-lab-logo.png" style="max-width: 150px;" />
                        <p *ngIf="client !== undefined && client.client_id!='clients:profile-ui'">
                            Sign in to <b>{{client.client_name || client.client_id}}</b> with your <br>Data-Centric Design Lab Account.
                        </p>
                        <p *ngIf="client !== undefined && client.client_id=='clients:profile-ui'">
                            Sign in to your <br>Data-Centric Design Lab Account.
                        </p>
                        <a *ngIf="client!==undefined && client.policy_uri!==''" href="{{client.policy_uri}}" target="_blank">Policy</a>&nbsp;/&nbsp;
                        <a *ngIf="client!==undefined && client.tos_uri!==''" href="{{client.tos_uri}}" target="_blank">Terms of Service</a>&nbsp;/&nbsp;
                        <a *ngIf="client!==undefined && client.contacts!==''" href="mailto:{{client.contacts[0]}}" target="_blank">Contact</a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8 col-md-8">
                                <input type="hidden" name="_csrf" value={{csrf}}>
                                <input type="hidden" name="challenge" value={{login_challenge}}>
                                            
                                <div class="form-group">
                                <label for="email">Username or Email address</label>
                                <input type="email" class="form-control" id="email" required [(ngModel)]="model.email" name="email" placeholder="" #email="ngModel">
                                <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Your email is required</div>
                                </div>
                        
                                <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" required [(ngModel)]="model.password" name="password" placeholder="********" #password="ngModel">
                                <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Your password is required</div>
                                </div>
                                
                                <input id="remember" type="checkbox" name="remember" value="1">
                                <label for="remember" style="padding-left: 5px;">Remember me</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>

                        <div *ngIf="error !== undefined" class="alert alert-danger" role="alert">
                            <p *ngIf="error._requirements !== undefined" class="danger">{{error._requirements}}</p>
                            <p *ngIf="error._hint !== undefined" class="danger">{{error._hint}}</p>
                            <p *ngIf="error.message !== undefined" class="danger">{{error.message}}</p>
                        </div>

                        <input type="submit" id="submit" name="submit" value="Sign in" class="btn btn-success" [disabled]="!signInForm.form.valid">
                        <span style="float: right;text-align:right;padding-top: 5px;">
                            New to DCD Lab? <a href="./signup?login_challenge={{login_challenge}}">Create an account</a>
                        </span>
                    </div>
                </div>
            </form>
            <ng-template #noData>Waiting for the identity provider...</ng-template>
        </div>
        <footer-cmp></footer-cmp>
    </div>
</div>
