<div class="wrapper">
    <div class="main-panel" style="width: 100%;">
        <div class="content" style="min-height:calc(100vh - 165px);;">
            <div class="card card-stats" style="max-width: 500px;margin:auto">
                <div class="card-header" style="text-align:center;">
                    Verification
                </div>
                <div class="card-body">
                    
                </div>
                <div class="card-footer ">
                    <hr>
                    
                </div>
            </div>
        </div>
        <footer-cmp></footer-cmp>
    </div>
</div>