    <form (ngSubmit)="onSubmit()" #thingForm="ngForm">
        <div class="card card-stats" style="max-width: 500px;">
            <div class="card-header" style="text-align:center;">
                <img src="/assets/img/dcd-lab-logo.png" style="max-width: 150px;" />
                <h1>Sign out</h1>
                <p>
                    Do you wish to sign out?
                </p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-8 col-md-8">
                        <input type="hidden" name="_csrf" value={{csrfToken}}>
                        <input type="hidden" name="challenge" value={{challenge}}>
                        <span *ngIf="error !== undefined" class="danger">
                            <p *ngIf="error.requirements !== undefined" class="danger">{{error.requirements}}</p>
                            <p *ngIf="error.hint !== undefined" class="danger">{{error.hint}}</p>
                            <p *ngIf="error.message !== undefined" class="danger">{{error.message}}</p>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <input type="submit" id="accept" name="accept" value="Yes" class="btn btn-success">
                <input type="submit" id="reject" name="reject" value="No" class="btn btn-danger">
            </div>
        </div>
    </form>